---
import "@/assets/styles/globals.css";
import StructuredData from "@/components/StructuredData.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	noindex?: boolean | undefined;
}

const {
	title = "Matt Steele | Software Engineer",
	description = "The personal site of Matt Steele",
	noindex = false,
} = Astro.props;

const gaId = import.meta.env.PUBLIC_GA_ID;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL("/android-chrome-512x512.png", Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
{noindex && <meta name="robots" content="noindex, nofollow" />}
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator} />

<link rel="preconnect" href="https://www.googletagmanager.com" />
<link rel="preconnect" href="https://www.google-analytics.com" />

<!-- Google tag (gtag.js) -->
<meta name="ga-measurement-id" content={gaId} />
<script
	is:inline
	async
	src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(...args) {
		dataLayer.push(args);
	}
	gtag("js", new Date());

	gtag(
		"config",
		document.querySelector('meta[name="ga-measurement-id"]').content,
		{ send_page_view: false },
	);
</script>

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter/X -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />

<StructuredData />

<!-- Favicons -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#f43f5e" />
