---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import Pill from "../../components/Pill.astro";
import { render } from "astro:content";

interface Props {
	entry: CollectionEntry<"work">;
}

export async function getStaticPaths() {
	const work = await getCollection("work");
	return work.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
	<div class="flex my-24">
		<div class="mx-auto max-w-4xl">
			<header>
				<Hero title={entry.data.title} align="start">
					<div class="border-2 border-solid border-red-900">
						<p class="text-lg">
							{entry.data.description}
						</p>
					</div>
				</Hero>
			</header>

			<main
				class="flex flex-col mx-auto border-2 border-solid border-green-900"
			>
				{
					entry.data.img && (
						<img
							class="rounded-lg shadow-lg border border-gray-700"
							src={entry.data.img}
							alt={entry.data.img_alt || ""}
						/>
					)
				}
				<div class="prose prose-invert">
					<Content />
				</div>
				<div class="flex flex-wrap gap-2">
					{entry.data.tags.map((t) => <Pill>{t}</Pill>)}
				</div>
				{
					entry.data.external_site_link && (
						<a
							class="inline-block bg-red-600 text-white text-sm font-bold py-2 px-4 rounded hover:bg-red-700 transition"
							rel="noopener noreferrer"
							href={entry.data.external_site_link}
						>
							Visit Site
						</a>
					)
				}
				{
					entry.data.work_with_company_url && (
						<p class="text-sm text-gray-400">
							Work done with
							<a
								class="text-blue-400 hover:underline"
								rel="noopener noreferrer"
								href={entry.data.work_with_company_url}
								target="_blank"
							>
								{entry.data.work_with_company_name}
							</a>
						</p>
					)
				}
			</main>
		</div>
	</div>
</BaseLayout>
